requests>=2.31.0          # Para baixar arquivos da internet
pandas>=2.0.3             # Para trabalhar com tabelas de dados
psycopg2-binary==2.9.7    # Para conectar com PostgreSQL
python-dotenv==1.0.0      # Para gerenciar senhas de forma segura
beautifulsoup4>=4.12.2
pyarrow>=13.0.0
sqlalchemy

zipfile36==0.1.3
tqdm==4.66.1

numpy==1.25.2
lxml==4.9.3
streamlit==1.28.0
plotly==5.17.0